#Applicants{
	width: 500px;
	list-style: none !importnat;
}

#Applicants li{
	margin: 0;
	background: #F7F7F0;
	border: solid 1px #E7E7E2;
	border-top: none;
	padding: 10px;
}

#Applicants li.first{
	border-top: solid 1px #E7E7E2;
}
#Applicants li:hover{
	background: #F4F4ED;
}

.info{
	width: 478px;
}

.compensate{
	width: 330px;
	float: left;
	margin-right: 10px;
}

.resume{
	width: 128px;
	float: right;
	text-align: center;
	margin-left: 9px;
	border-left: dashed 1px #E7E7E2;
	cursor: pointer;
}

.no-resume{
	cursor: default;
}

.fix{
	clear: both;
	height: 1px;
	margin: -1px 0 0;
	overflow: hidden
}