#ledger{
	width: 500px;
	padding: 3px 0;
	border-bottom: solid 1px #ccc;
	margin-bottom: 3px;
}

#Applicant{
	width: 500px;
}

#Applicant h5{
	font-size: 14px
}

.info{
	width: 330px;
	float: left;
}

.controls{
	width: 160px;
	float: right;
	margin-left: 10px;
}

.actions{
	padding-bottom: 15px;
	border-bottom: solid 1px #ccc;
}

.actions a{
	width: 131px;
	border-top: solid 1px #E7E7E2;
	background: #f9f9f6;
	padding: 3px 0;
	display: block;
	zoom: 1;
	font-size: 12px;
}
	.actions a.first{
		border-top: none;
	}
	.actions .delete{
		position: relative;
	}
	.actions .delete .del-click{
		background: url(../images/Delete-128.png) left center no-repeat;
		padding-left: 27px;
	}
	.actions .print{
		background: url(../images/Printer-32.png) left center no-repeat;
		padding-left: 27px;
	}
	/*.actions a:hover{
		border-color: #dededa;
		background: rgb(231,231,220); /* Old browsers *
		background: -moz-linear-gradient(top,  rgba(231,231,220,1) 0%, rgba(231,231,226,1) 100%); /* FF3.6+ *
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,231,220,1)), color-stop(100%,rgba(231,231,226,1))); /* Chrome,Safari4+ *
		background: -webkit-linear-gradient(top,  rgba(231,231,220,1) 0%,rgba(231,231,226,1) 100%); /* Chrome10+,Safari5.1+ *
		background: -o-linear-gradient(top,  rgba(231,231,220,1) 0%,rgba(231,231,226,1) 100%); /* Opera 11.10+ *
		background: -ms-linear-gradient(top,  rgba(231,231,220,1) 0%,rgba(231,231,226,1) 100%); /* IE10+ *
		background: linear-gradient(top,  rgba(231,231,220,1) 0%,rgba(231,231,226,1) 100%); /* W3C *
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7dc', endColorstr='#e7e7e2',GradientType=0 ); /* IE6-9 *
	}*/
	.double-check{
		width: 100%;
		height: 55px;
		background: url(../images/double-check.png) top center no-repeat;
		position: absolute;
		top: 26px;
		left: 0;
		text-align: center;
		padding-top: 20px;
		display: none;
	}
	.double-check a{
		border: 0;
		background: none;
		width: 50px;
		float: left;
		margin-left: 20px;
	}
	/*.delete:hover .double-check{
		display: block;
	}*/

.resume{
	width: 128px;
	margin: 15px auto;
	text-align: center;
	padding: 5px 10px;
	border: solid 1px #E7E7E2;
	background: #f9f9f6;
	cursor: pointer;
	display: block;
	zoom: 1;
}
	
	.resume:hover{
		border: solid 1px #dededa;
		background: rgb(231,231,220); /* Old browsers */
		background: -moz-linear-gradient(top,  rgba(231,231,220,1) 0%, rgba(231,231,226,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(231,231,220,1)), color-stop(100%,rgba(231,231,226,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(231,231,220,1) 0%,rgba(231,231,226,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(231,231,220,1) 0%,rgba(231,231,226,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(231,231,220,1) 0%,rgba(231,231,226,1) 100%); /* IE10+ */
		background: linear-gradient(top,  rgba(231,231,220,1) 0%,rgba(231,231,226,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e7e7dc', endColorstr='#e7e7e2',GradientType=0 ); /* IE6-9 */
	}
	.no-resume{
		cursor: default;
	}
	.no-resume:hover{
		background: #f9f9f6;
		border-color: #E7E7E2;
	}

.fix{
	clear: both;
	height: 1px;
	margin: -1px 0 0;
	overflow: hidden
}