.job{
	padding: 10px 0 10px;
	border-bottom: dotted 1px #444;
	clear: left;
	/*height: 80px;*/
}

.first{
	border-top: dotted 1px #444;
}

.job h3{
	margin-top: 0;
	margin-bottom: 10px;
}

.job h4{
	margin: 0 0 5px;
}

.job-head{
	width: 200px;
	float: left;
	height: 130px;
}

.jobinfo {
	width: 200px;
	float: left;
}
.desc{
	width: 345px;
	float: right;
	/*display: none;
	background: rgba(0,204,0,.3);*/
	padding-left: 20px;
	margin-left: 20px;
	border-left: dotted 1px #444;
}

.c-l{
	clear: left;
}

.clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}
 
.clearfix {
	display: inline-block;
}
 
html[xmlns] .clearfix {
	display: block;
}
 
* html .clearfix {
	height: 1%;
}


/* Job Toolbar */
.jobtools {
	float: right;
	width: 45%;
}
	.jobtools h4 {
		margin: 0 0 10px;
		padding: 0;
	}
	
/* Job Details */
.columns,
ul.collapse,
ol.collapse
{
list-style: none;
margin: 0px;
padding: 0px;
overflow: hidden;
}

ul.collapse li { float: left; list-style-type: none; background: none; }

.divider { line-height: 13px;  }

.divider-bottom,
.divider-repeat
{
font-size: 10px;
line-height: 11px;
margin-top: 40px;
padding-top: 10px;
}

ul.divider-repeat
{
margin-top: 0px;
margin-left: 0px;
margin-bottom: 20px;
}

	.divider > li
	{
	border-left: 1px solid #888;
	padding: 0px 10px;
	}

	ul.divider > li:first-child
	{
	border-left: 0px;
	padding-left: 0px;
	}

	.divider > li.label + li
	{
	border-left: 0px;
	padding-left: 0px;
	}

