#Form_ApplicationForm{
	display: none;
}

.error{
	color: red;
	font-style: italic;
}

h2{
	width: 300px;
	float: left;
}

.applicants{
	display: block;
	zoom: 1;
	float: right;
	
}

.fix{
	clear: both;
	height: 1px;
	margin: -1px 0 0;
	overflow: hidden
}

#hidden{
	display: none;
}

/* style uploadify button here */
.uploadify_button {
	background-color: #A6CFDA !important;
	border: 1px solid #78B0BF !important;
	color: white !important;
	cursor: pointer !important;
	font-size: 0.85em !important;
	font-weight: bold !important;
	margin: 0 0 0 2px !important;
	padding: 5px 10px !important;
	text-decoration: none !important;
	text-transform: lowercase !important;
}